@import "compass/css3/transition";
@import "compass/css3/transform";

.left
{
	float:left;
}
@mixin clearfix()
{
  &:after
  {
    content:"";
    display:table;
    clear:both;
  }
}

.MainNav, nav.left
{
	background-color:#2e5f73;
	width:250px;

	.logo
	{
		position:relative;

		h2
		{
			position: absolute;
			top:0;
			color:#fff;
			font-size:35px;
			padding-left:9px;

		}
	}
}


.grid.flex
{
	width: calc(100% - 250px);
}



//Headers


$header-product-h1-background-color:#ebebeb;



header.product
{
	width: 100%;
	height: 132px;
	padding-top: 30px;

	h1
	{
		float:left;
		margin: 0px 12px;
		padding:14px 23px;
		background-color:$header-product-h1-background-color;
		opacity: 0.9;
	}

	background-size: cover;


	//Product Backgrounds

	&.product_cleats
	{
		background-image: url("../images/product_footwear_cleats_header_bg.jpg");
	}





}


	#checkout
	{
		height:38px;
		min-width: 150px;
		position: relative;
		z-index: 30;

		
		cursor:pointer;

		float:right;
		margin: 0px 10px;
		padding: 5px 45px 5px 10px;
		border: 3px solid #fff;

		background:#3FA9FA url("../images/ui/cart_30.png") no-repeat calc(100% - 5px) 0px;
		background-color:#3FA9FA;
		background:rgba(63, 169, 250, 0.9) url("../images/ui/cart_30.png") no-repeat calc(100% - 5px) 0px;
		background-color:rgba(63, 169, 250, 0.9);
		background-image:url("../images/ui/cart_30.png");
		background-repeat:no-repeat;
		background-position:calc(100% - 5px) 0px;
		
		#cartContainer
		{
			position: relative;
			display: block;
			width: auto;
			height: 48px;
		}

		#cart
		{
			cursor:default;
			display: block;
			position: absolute;
			top: 32px;
			right: -48px;
			width: 350%;
			background-color: #9AD2FC;
			max-width: 570px;
			padding-left:20px;
			z-index: 300;
		}

		h3
		{
			color:#fff;
			margin:0;
			float:right;
		}

		div.cartProduct
		{
			float:left;
			clear:left;
			width: 100%;
			padding-top: 10px;
			position:relative;
			p
			{
				margin-top:10px;
			}
			div div, div p
			{
				float:left;
			}

			.price
			{
				span
				{
					padding:4px;
					&.promotion
					{
						background-color:#f00;
						color:#fff;
					}
				}
			}

			.numInCart
			{
				width: 35px;
				margin-left:5px;
			}


			.button
			{
				width:33px;
				height:33px;
				text-align: center;
				padding: 9px;
				background-color: #268cda;
				color:white;
				cursor:pointer;
				margin:0;
			}

		}
		div.checkoutTotal
		{
			border-top:1px solid #222;
		}
		div[class*="checkout"]
		{
			float:left;
			width:100%;
			position:relative;
			
		}.checkout.button
			{
				float:right;
				margin:20px 20px;
				width: 120px;
				color:white;
				background-color:#268cda;
				font-size:18px;
				padding:5px;
				text-align: center;
			}
	}

div.products
{
	section
	{
		margin:5px 30px 40px;

	}
}


.button
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}


section.filter
{
	h5, h6
	{
		float:left;
	}

	.filter-panel
	{
		&:first-of-type
		{
			clear:left;
		}
		width: 25%;
		min-width: 160px;
		max-width:300px;
		float:left;
	}
	@include clearfix();
	
	border-bottom: 1px solid black;
}



section.catalogue
{


div.product{

	float:left;
	width:220px;
	height:290px;
	border:1px solid black;
	padding:5px 10px 10px 16px;
	margin:10px 17px;
	margin-left:0;
	position:relative;


	img
	{
		width:100%;
	}

	.sale
	{
		color:red;
		&.banner
		{
			color:white;
		}
	}

	p.sale.banner
	{
		span
		{
			@include transform(rotate(-45deg));
			z-index: 4;
			position: absolute;
			display: block;
			top: 6px;
			font-size: 13px;
			left: 0;
		}

		position:absolute;
		font-weight: bold;
		top:0;
		left:0;
		margin:0;
		padding:5px;

		&::after
		{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-width: 40px 40px 0 0;
		border-style: solid;
		border-color: #f00 #fff;
		}
	}

	.cart-counter
	{
		min-width: 45px;
		height:24px;
		position:absolute;
		top:0;
		right:0;
		padding:5px 28px 5px 5px;

		background:url("../images/ui/cart_20_blk.png") no-repeat 80% 4px;
		text-align: right;
	}

	p.name
	{
		font-size:12px;
	}

	p.price
	{
		font-size:18px;
		float:left;
		margin-top:0;
	}

	.original
	{
		font-size: 12px;
		vertical-align: top;
		text-decoration: line-through;
		sup
		{
			font-size: 8px;
			vertical-align: super;
		}
	}

	.button
	{
		width: 89px;
		height:21px;
		float:right;
		&.add-to-cart
		{
			color:white;
			background-color:#268cda;
			font-size:12px;
			padding:5px;
			text-align: center;
		}
	}


}

}






//Animations

.animate-fade
{
	@include transition( all 0.3s ease-out);
       
}

.effeckts
{

//Borrowed from Effeckt.css, h5bp.github.io/Effeckt.css

// Effect: From below
// Effect: From below to below
.from-below-to-below {
  @include transform(scale(0.5));
  opacity: 0;
	@include transition(0.5s);
}
.show.from-below-to-below {
  @include transform(scale(1));
  opacity: 1;
}

// Effect: Slide from the bottom
.slide-in-bottom {
  @include transform(translateY(30%));
  opacity: 0;
 @include transition(1s);
}
.show.slide-in-bottom {
  @include transform(translateY(0));
  opacity: 1;
}

}